<!-- <body> -->
  <!-- <div class="container contain-wrap "> -->
    <div class="row wrapper ">
    <div class="login col-lg-6 col-md-6 col-sm-6 ">
    <div class=" container top-wrapper">
      <div class=" pt-5 pb-5 col-md-10 col-md-offset-0">
        <h2 style="text-align: center;">Create an Account </h2>
      </div>
      <div class="col-md-10 col-md-offset-0">
        <div class="forms-group ">
          <label for="name">First Name</label>
          <input type="text" class="form-control" id="text"  >
        </div>
        <br>
        <div class="forms-group ">
          <label for="name">Last Name</label>
          <input type="text" class="form-control" id="text"  >
        </div>
        <br>
        <div class="forms-group ">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="email"  >
        </div>
        <br>
        <div class="form-group ">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" >
        </div>
        <br>
      <div class="form-group ">
        <label for="password">Confirm Password</label>
        <input type="password" class="form-control" id="password" >
      </div><br>
      <div class="form-group ">
        <div class="row">
          <div class="col-6">
            <!-- <small style="font-size: 16px;" routerLink="/forget">Forget Password</small> -->
          </div>
          <div class="col-6" style="text-align: right;">
            <button type="button" class="btn btn-dark" >Create</button>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    <div class="content-wrap col-lg-6 col-md-6 col-sm-6">
      <div class="container right-wrapper pt-5">
        <div class="row pt-5">
        <div class="col-md-12 col-md-offset-0 pt-5">
          <img src="./assets/lion.png" alt="" width="100px" height="110px">
        </div>
        <div class="col-md-12 col-md-offset-0 pt-4">
          <h2 >Welcome to Register!</h2>
        </div>
        <div class="col-md-12 col-md-offset-0 pt-4">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, dolores!</p>
        </div>
        <div class="col-md-12 col-md-offset-0 pt-3">
          <h5>Why are you choosing this?</h5>
        </div>
        <div class="col-md-12 col-md-offset-0 pt-3">
          <small routerLink="/auth" class="Account-wrapper">Login</small> <small class="Account-wrapper">Lorem ipsum dolor sit amet.</small>
        </div>
      </div>
    </div>
    </div>
    </div>
    <!-- </div> -->
<!-- </body> -->

