<div class="invite-wrapper">
<div class="container  ">
  <div class="card">
    <div class="card-body">
      <h4 class="title">Invite People</h4>
        <p class="text mt-3">All invited people will be granted to access all sites within your organization</p>
      <div class="div-container mt-5">
        <small class="links l-link" routerLink="/invite/email" routerLinkActive="active">Invite with Email</small>
        <small class="links r-link" routerLink="/invite/link" routerLinkActive="active">Invite with Link</small>
      </div>
    <router-outlet></router-outlet>
    </div>
  </div>
</div>
</div>
