@media screen and (min-width: 992px) {
  div.content {
    margin-left: 250px;
    padding: 1px 16px;
  }
}
@media screen and (max-width: 992px) {
  div.content {
    margin: 0;
    padding: 1px 16px;
  }
}
