@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
.card-img{
  height: 200px;
  opacity: 0.4;
  border-radius: 0px;
}
.card-img-overlay{
  text-align: center;
}
.title-wrap{
color: #aebdc2;
}
.card-text{
  color: #aebdc2;
  font-family: 'Roboto', sans-serif;
}
.card-title{
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
}
/* .image-wrapper{
  text-align: center;
  height: 300px;
  width: 350px;
} */
.image{
  border: 2px solid grey;
  padding: 7px;
  /* padding-right: 0px; */
}
.title{
  color: #2e5766;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}
.text{
  font-family: 'Roboto', sans-serif;
}
svg{
  color: #2e5766;
}
.icons-wrapper{
  background-color: white;
  border: 1px solid grey;
  padding-top: 10px;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 15px;
  border-radius: 50%;
  margin-right: 10px;
}
hr{
background-color: aqua;
}
@media screen and (min-width: 576px) {
  .image-wrapper{
    text-align: center;
    height: 300px;
    width: 350px;
  }
}
@media  screen and (max-width:576px) {
  .image-wrapper{
    text-align: center;
    height: 300px;
    width: 312px;
  }
}
