<div class="container p-3 ">
  <div class="container">
  <div class="row pt-3">
    <h4 class="title">Activity</h4>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card card-back mt-3" style="border-radius: 5px;">
        <div class="card-body">
          <div class="row">
            <div class="col-10">
              <p class="text">Total Impressions</p>
            </div>
            <div class="col-2">
              <small>
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                  <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                </svg>
              </small>
            </div>
          </div>
          <div class="row">
            <div class="col-7 col-lg-7 col-md-6">
              <h2 class="title pt-3">44.34k</h2>
          <small>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
            </svg>
            15,0000.0%
          </small>
            </div>
            <div class="col-5 col-lg-5 col-md-5 wrapper-height-top">
              <div class="container">
              <div class="horizontal-lr">
              <small class="empty-box box-one"></small><br>
              <small class="empty-box box-two"></small><br>
              <small class="empty-box box-three"></small><br>
              <small class="empty-box box-four"></small><br>
            </div>
          </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    <div class="col-md-6 col-12 col-lg-4 pt-3">
      <div class="card card-back" style="border-radius: 5px;">
        <div class="card-body">
          <div class="row">
            <div class="col-10">
              <p class="text">Profile Visits</p>
            </div>
            <div class="col-2">
              <small>
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
              </svg>
            </small>
            </div>
          </div>
          <div class="row">
            <div class="col-7">
              <h2 class="title pt-3">13.34k</h2>
          <small>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
            </svg>
            12,0300.0%
          </small>
            </div>
            <div class="col-5">
              <div class="container">
              <div class="horizontal-lr">
              <small class="empty-box box-second-one"></small><br>
              <small class="empty-box box-second-two"></small><br>
              <small class="empty-box box-second-three"></small><br>
            </div>
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12 col-lg-4 pt-3">
      <div class="card card-back" style="border-radius: 5px;">
        <div class="card-body">
          <div class="row">
            <div class="col-10">
              <p class="text">Total Mentions</p>
            </div>
            <div class="col-2">
              <small>
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                  <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                </svg>
              </small>
            </div>
          </div>
          <div class="row">
            <div class="col-7">
              <h2 class="title pt-3">44.34k</h2>
          <small>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
            </svg>
            15,0000.0%
          </small>
            </div>
            <div class="col-5">
              <div class="container">
              <div class="horizontal-lr">
              <small class="empty-box box-third-one"></small><br>
              <small class="empty-box box-third-two"></small><br>
              <small class="empty-box box-third-three"></small><br>
            </div>
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="row mt-4 contain-head">

    <div class="col-12 col-lg-8 col-md-12 col-sm-12 ">
      <div class="contain-wrap">
        <div class="row">
          <h4 class="title mt-5">Growth</h4>
          <div class="wrapper-head pt-2">
            <p class="text">&nbsp;&nbsp;&nbsp;Views &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small class="text-muted"> Engamenent</small></p>
          </div>
          <div class="col-1 pt-4">
            <ul class="list-group">
              <li class="list-group-item">100%</li>
              <li class="list-group-item">&nbsp;80%</li>
              <li class="list-group-item">&nbsp;60%</li>
              <li class="list-group-item">&nbsp;40%</li>
              <li class="list-group-item">&nbsp;20%</li>
              <li class="list-group-item">&nbsp;&nbsp;0%</li>
            </ul>
          </div>
          <div class="col-11">
            <table class="graph">
              <tbody>
                <tr style="height:85%">
                  <td></td>
                </tr>
                <tr style="height:53%">
                  <td></td>
                </tr>
                <tr style="height:47%">
                  <td></td>
                </tr>
                <tr style="height:38%">
                  <td></td>
                </tr>
                <tr style="height:35%">
                  <td></td>
                </tr>
                <tr style="height:60%">
                  <td></td>
                </tr>
                <tr style="height:47%">
                  <td></td>
                </tr>
                <tr style="height:70%">
                  <td></td>
                </tr>
                <tr style="height:48%">
                  <td></td>
                </tr>
                <tr style="height:36%">
                  <td></td>
                </tr>
                <tr style="height:91%">
                  <td></td>
                </tr>
                <tr style="height:80%">
                  <td></td>
                </tr>
              </tbody>
            </table>
            <div class="row content-bottom-box" >
              <div class="col-1" *ngFor="let item of months">
                <p class="title">{{item.mon}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pt-4 pb-4">
        <div class="col-6 col-lg-12 col-md-12 col-sm-12 ">
          <div class="card ">
            <div class="card-header">
              <div class="row">
                <div class="col-8">
                  <h4 class="title">Top Follwers</h4>
                </div>
                <div class="col-4" style="text-align: end;">
                  <small>
                    <small style="padding-right: 20px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                  </small>
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                      <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                    </svg>
                  </small>
                </div>
              </div>
            </div>
            <div class="card-body" style="height: 3.2rem;">
              <div class="row">
                <div class="col-4">
                  <h6 class="head-text">Name</h6>
                </div>
                <div class="col-4" style="text-align: center;">
                  <h6 class="head-text">Followers</h6>
                </div>
                <div class="col-4" style="text-align: end;">
                  <h6 class="head-text">Followings</h6>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="row raw-back-card" *ngFor="let item of lists">
                <div class="col-4">
                  <div class="row pt-1">
                    <div class="col-3">
                      <img src="{{item.path}}" class="rounded-circle" alt="" width="30px" height="30px">
                    </div>
                    <div class="col-9">
                      <p class="name-text text-sm-fix">{{item.name}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-4" style="text-align: center;">
                  <p class="name-text text-sm-fix">{{item.fol}}</p>
                </div>
                <div class="col-4" style="text-align: end;">
                  <p class="name-text text-sm-fix">{{item.follower}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-4 col-md-12 col-sm-12 mt-4">
      <div class="card mt-2" style="border-radius: 5px;">
        <div class="card-body">
          <div class="container">
          <h5 class="title pb-4 pt-2">
            Get Your Tweets in front of more people
          </h5>
          <button class="btn btn-primary p-2">Get started</button>
        </div>
      </div>
      </div>
      <div class="card  mt-5">
        <div class="card-header" style="height: 3rem;">
          <div class="row">
            <div class="col-7">
               <h5 class="text-title">Top tweets</h5>
            </div>
            <div class="col-5" style="text-align: end;">
              <small>
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                  <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                </svg>
              </small>
            </div>
          </div>
        </div>
        <div class="card-body" style="height: 3.2rem;">
          <div class="row">
            <div class="col-7">
               <p class="text-title" style="line-height: 1.2rem;">Highlights</p>
            </div>
            <div class="col-5">
              <p class="text-title" style="line-height: 1.2rem;">Impressions</p>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row" *ngFor="let item of dummy">
            <div class="col-7">
               <p class="text-title text-sm-fix">{{item.high}}</p>
            </div>
            <div class="col-5">
              <p class="text-title text-sm-fix">{{item.imp}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
