<div class="note-wrapper">
  <h5 class="title pt-4">Notification Setting</h5>
  <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi veniam minima in nisi, nostrum modi?</p>
  <hr>
  <div class="row">
    <div class="col-8 col-lg-6 col-md-6 col-sm-8">
      <p ><small class="text-head"> Comments</small><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque molestias eius consequatur cupiditate deleniti. Illo!</p>
    </div>
    <div class="col-4 col-lg-6 col-md-6 col-sm-4 toggle-wrap">
      <p>Push&nbsp;
        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider round"></span>
        </label>
      </p>
      <p>Email
        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider round"></span>
        </label>
      </p>
      <p>SMS&nbsp;&nbsp;
        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider round"></span>
        </label>
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-8 col-lg-6 col-md-6 col-sm-8">
      <p class="text"><small class="text-head"> Tags</small> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque molestias eius consequatur cupiditate deleniti. Illo!</p>
    </div>
    <div class="col-4 col-lg-6 col-md-6 col-sm-4 toggle-wrap">
      <p>Push&nbsp;
        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider round"></span>
        </label>
      </p>
      <p>Email
        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider round"></span>
        </label>
      </p>
      <p>SMS&nbsp;&nbsp;
        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider round"></span>
        </label>
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-8 col-lg-6 col-md-6 col-sm-8">
      <p class="text"><small class="text-head"> Reminders</small> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque molestias eius consequatur cupiditate deleniti. Illo!</p>
    </div>
    <div class="col-4 col-lg-6 col-md-6 col-sm-4 toggle-wrap">
      <p>Push&nbsp;
        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider round"></span>
        </label>
      </p>
      <p>Email
        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider round"></span>
        </label>
      </p>
      <p>SMS&nbsp;&nbsp;
        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider round"></span>
        </label>
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-8 col-lg-6 col-md-6 col-sm-8">
      <p class="text"><small class="text-head"> More Activity about You</small> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque molestias eius consequatur cupiditate deleniti. Illo!</p>
    </div>
    <div class="col-4 col-lg-6 col-md-6 col-sm-4 toggle-wrap">
      <p>Push&nbsp;
        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider round"></span>
        </label>
      </p>
      <p>Email
        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider round"></span>
        </label>
      </p>
      <p>SMS&nbsp;&nbsp;
        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider round"></span>
        </label>
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">We've just released a new update</h4>
      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>

      <ul class="list-group list-group-horizontal">
        <li class="list-group-item sub-wrapper">
          <p class="sub-wrap">&nbsp;<svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
          </svg>
          you@untiludi.com
        </p>
        </li>
        <li class="list-group-item">
          <button type="button" class="btn btn-success">Subscribe</button>
        </li>
      </ul>
    </div>
  </div>
  <br>
</div>
