.list-group-item{
  border: none;
}
.title{
  font-family: 'Rubik',sans-serif;
}
.text{
  font-family: 'Rubik',sans-serif;
}
.card-title{
  font-family: 'Rubik',sans-serif;
}
h1{
  font-family: 'Rubik',sans-serif;
  font-weight: 700;
}
.card-text{
  font-family: 'Rubik',sans-serif;
}
.bill-title{
  font-family: 'Rubik',sans-serif;
  font-weight: 500;

}
.card{
  border-radius: 0 20px 0 0;
}
small{
  font-family: 'Rubik',sans-serif;
}
.history-wrapper{
  border: 1px solid grey;
  /* padding: 2px; */
  margin-right: 2px;
  margin-left:1px ;
  border-radius: 15px;
}
.empty{
  margin-right: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  line-height: 3rem;
  padding-right: 10px;
  /* padding-top: -15px; */
  margin-top: -5px;
  border: 1px solid grey;
  border-radius: 50%;
}
.card-back{
  line-height: 4.2rem;
  font-family: 'Rubik',sans-serif;
}
.btn-light{
  font-family: 'Rubik',sans-serif;
  margin-top: 20px;
}
.down-wrap{
  text-align: right;
}
.button {
  font-family: 'Rubik',sans-serif;
  background-color: #000000; /* Green */
  border: none;
  color: white;
  padding: 10px 52px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left:11%
}

@media screen and (max-width:576px){
  .middle-wrap{
    display: none;
  }
}
