
input{
  font-size: 16px;
  font-family: 'Rubik',sans-serif;
}
.text-wrap{
  text-align: right;
}
.title{
  font-size: 28px;
  font-family: 'Rubik',sans-serif;
  text-align: center;
}
.btn-success{
  font-family: 'Rubik',sans-serif;
}
@media screen and (max-width:576px){
  .pass-wrapper{
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media screen and (min-width:992px){
  .pass-wrapper{
    margin-top: 30px;
    margin-left: 30%;
    margin-right: 30%;
  }
}
@media screen and (min-width:576px) and (max-width:992px) {
  .pass-wrapper{
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
  }
}
