<div class="pass-wrapper ">
<div class="row pt-5">
  <h4 class="title">Change Password</h4>
  <div class="col-12 pt-5">
    <form action="">
      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Old Password">
      </div>
    </form>
  </div>
</div>
<div class="row pt-5">
  <div class="col-12">
    <form action="">
      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter New Password">
      </div>
    </form>
  </div>
</div>
<div class="row pt-5">
  <div class="col-12">
    <form action="">
      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Confirm Password">
      </div>
    </form>
  </div>
</div>
<div class="row pt-5">
  <div class="col-12 text-wrap">
    <button class="btn btn-success">Change</button>
  </div>
</div>
</div>


<!-- <form action="">
  <div class="form-group">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Confirm Password">
  </div>
</form> -->
