.list-group-item{
  border: none;
}
.btn-wrap{
  text-align: right;
  font-family: 'Rubik',sans-serif;
}
.title{
  font-family: 'Rubik',sans-serif;
}
.text{
  font-family: 'Rubik',sans-serif;
}
.info-title{
  font-family: 'Rubik',sans-serif;
}
label{
  padding-bottom: 5px;
  font-family: 'Rubik',sans-serif;
}
input{
  font-family: 'Rubik',sans-serif;
}
