<div class="profile-wrapper pt-3">
  <div class="head">
  <h4 class="title">Profile</h4>
</div>
<div class="profile-image">
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item">
      <img src="../assets/user.jpg" class="rounded-circle" width="100px" alt="">
    </li>
    <li class="list-group-item">
      <h5 class="title">Chose from Your local Storage</h5>
      <small class="text">Minimum 100 x 100 px</small><br><br>
      <button class="btn btn-danger">Browse</button>&nbsp;
      <button class="btn btn-light">&nbsp;Delete &nbsp;</button>
    </li>
  </ul>
</div>
</div>
<div class="information-wrapper pt-5">
  <h5 class="info-title">Information</h5>
  <div class="input-wrappers ">
    <div class="row">
      <div class="col-sm-6 pt-3">
        <form action="">
          <div class="form-group">
            <label for="exampleInputEmail1">First Name</label>
            <input type="text" class="form-control" placeholder="First Name" >
          </div>
        </form>
      </div>
      <div class="col-sm-6 pt-3">
        <form action="">
          <div class="form-group">
            <label for="exampleInputEmail1">Last Name</label>
            <input type="email" class="form-control" placeholder="Last Name">
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 pt-3 ">
        <form action="">
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" placeholder="email">
          </div>
        </form>
      </div>
      <div class="col-sm-6 pt-3">
        <form action="">
          <div class="form-group">
            <label for="exampleInputEmail1">Mobile</label>
            <input type="text" class="form-control" placeholder="Mobile">
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 pt-3">
        <form action="">
          <div class="form-group">
            <label for="exampleInputEmail1">User Name</label>
            <input type="text" class="form-control" placeholder="User Name">
          </div>
        </form>
      </div>
      <div class="col-sm-6 pt-3">
        <form action="">
          <div class="form-group">
            <label for="exampleInputEmail1">Profile Name</label>
            <input type="email" class="form-control" placeholder="Profile Name">
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12 pt-3">
        <form action="">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Bio</label>
            <textarea class="form-control"  rows="3" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex voluptas iste ipsam dolore in tenetur aspernatur, corrupti saepe itaque nesciunt."></textarea>
          </div>
        </form>
      </div>
    </div>
    <br>
    <div class="btn-wrap">
    <button class="btn btn-success ">Save</button>
  </div>
  </div>
  <br><br>
</div>
