<div class="team-wrapper pt-3">
  <div class="row" >
    <div class="col-lg-4 col-md-6 col-sm-12 pt-2 item-wrap" *ngFor="let member of members">
      <div class="card p-2 " [ngStyle]="{'background-color': member.color}" >
      <div class="row card-wrapper" >
        <div class="col-4 img-wrap">
          <img class="image-wrapper rounded-circle" src="{{member.img}}" alt="">
        </div>
        <div class="col-8">
          <h5 class="title pt-3">{{member.Name}}</h5>
          <h6 class="role">{{member.role}}</h6>
          <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
      <br>
    </div>
  </div>
  <br>
</div>
