<!-- <app-collections></app-collections> -->

<div class="head-wrapper mt-2 mx-auto pt-3">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 col-12 item-wrapper" *ngFor="let item of items">
      <div class="card"  >
        <div class="card-head pt-4">
          <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
        </div>
        <div class="card-body">
          <small class="card-title" *ngIf="item.title.length <= 10" >{{item.title}}</small>
          <small class="card-title" *ngIf="item.title.length > 10"   >{{item.title | slice:0:10}}
            <small class="card-title" *ngIf="item.title.length >10" ngbTooltip="{{item.title}}">...</small>
          </small>
          <p class="card-text">${{item.price}}</p>
        </div>
        <div class="card-footer">
          <small class="cart">
          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" style="color: #9555a3;" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
        </small>
        </div>
      </div><br>
    </div>
  </div>
</div>
