<div class="order-wrapper p-3">
  <h4 class="title">Order</h4>
  <p class="text">28 orders found</p>
  <div class="col-12 pt-3 nav-items">
    <small class="nav-title" routerLink="/order/allorder" routerLinkActive="active">All Order</small>
    <small class="nav-title" routerLink="/order/dispatch" routerLinkActive="active">Dispatch</small>
    <small class="nav-title" routerLink="/order/pending" routerLinkActive="active">Pending</small>
    <small class="nav-title" routerLink="/order/completed" routerLinkActive="active">Completed</small>
  </div>
  <router-outlet></router-outlet>
</div>

