<div class="ship-wrapper pt-3">
  <h4 class="title-head p-4">Shipping</h4>
  <div class="row pt-3">
    <div class="col-12 col-lg-10 col-md-10 col-sm-12 " *ngFor="let item of shipment;let i=index">
      <div class="card" (click)="onclick(i)">
        <div class="card-header">
      <div class="row">
        <div class="col-4 ">
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><img src="{{item.src}}" width="30px" height="30px" alt=""></li>
            <li class="list-group-item item">{{item.fname}}</li>
          </ul>
        </div>
        <div class="col-5 text-r" >
          <h4 class="title">{{item.status}}</h4>
        </div>
        <div class="col-3 text-r">
          <h4 class="title ">{{item.id}}</h4>
        </div>
      </div>
        </div>
        <div class="card-body" *ngIf="value[i].val===true">

          <div class="row">
            <div class="col-12 col-lg-6 col-md-6 ">
              <ul id="progress ">
                <li><div class="line-marker-sm"></div></li>
                <li><p>12.30</p><div class="icon-sm ">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-box" viewBox="0 0 16 16">
                    <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                  </svg>
                </div><p class="ship-head">Ordered Received</p></li>
                <li><div class="line-marker"></div></li>
                <li><p>04.45</p><div class="icon ">
                  <svg xmlns="http://www.w3.org/2000/svg" color="green" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                  </svg>
                </div><p>Your order is processing</p></li>
                <li><div class="line-marker"></div></li>
                <li><p class="empty-space"></p><div class="icon ">
                  <svg xmlns="http://www.w3.org/2000/svg" color="green" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                  </svg>
                </div><p >Ready to Shipping</p></li>
                <li><div class="line-marker"></div></li>
                <li><p class="empty-space"></p><div class="icon ">
                  <svg xmlns="http://www.w3.org/2000/svg" color="green" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                  </svg>
                </div><p class="id-wrap">Shipping</p></li>
                <li><div class="line-marker"></div></li>
                <li><p class="empty-space"></p><div class="icon-sm ">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                    <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                  </svg>
                </div><p>Delivery</p></li>
                <li><div class="line-marker-sm"></div></li>
            </ul>
            </div>
            <div class="col-12 col-lg-6 col-md-6 item-wrap">
              <p class="text id-wrap pt-2">{{item.id}}</p>
              <p class="text pt-2">{{item.Name}}</p>
              <p class="text pt-2">{{item.Address}}</p>
              <p class="text pt-2">{{item.Date}}</p>
              <p class="text id-wrap pt-2">${{item.price}}</p>
              <p class="text pt-2">{{item.status}}</p>
              <p class="text  pt-2">{{item.fname}}</p>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
